<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlri.chinacnr.bwts.dao.DynRecordDao">
	<resultMap type="DynRecord" id="dynRecordResult">
		<id property="id" column="id"/>
		<result property="col001" column="col001"/>
		<result property="col002" column="col002"/>
		<result property="col003" column="col003"/>
		<result property="col004" column="col004"/>
		<result property="col005" column="col005"/>
		<result property="col006" column="col006"/>
		<result property="col007" column="col007"/>
		<result property="col008" column="col008"/>
		<result property="col009" column="col009"/>
		<result property="col010" column="col010"/>
		<result property="col011" column="col011"/>
		<result property="col012" column="col012"/>
		<result property="col013" column="col013"/>
		<result property="col014" column="col014"/>
		<result property="col015" column="col015"/>
		<result property="col016" column="col016"/>
		<result property="col017" column="col017"/>
		<result property="col018" column="col018"/>
		<result property="col019" column="col019"/>
		<result property="col020" column="col020"/>
		<result property="col021" column="col021"/>
		<result property="col022" column="col022"/>
		<result property="col023" column="col023"/>
		<result property="col024" column="col024"/>
		<result property="col025" column="col025"/>
		<result property="col026" column="col026"/>
		<result property="col027" column="col027"/>
		<result property="col028" column="col028"/>
		<result property="col029" column="col029"/>
		<result property="col030" column="col030"/>
		<result property="col031" column="col031"/>
		<result property="col032" column="col032"/>
		<result property="col033" column="col033"/>
		<result property="col034" column="col034"/>
		<result property="col035" column="col035"/>
		<result property="col036" column="col036"/>
		<result property="col037" column="col037"/>
		<result property="col038" column="col038"/>
		<result property="col039" column="col039"/>
		<result property="col040" column="col040"/>
		<result property="col041" column="col041"/>
		<result property="col042" column="col042"/>
		<result property="col043" column="col043"/>
		<result property="col044" column="col044"/>
		<result property="col045" column="col045"/>
		<result property="col046" column="col046"/>
	</resultMap>

	<select id="getAllList" resultMap="dynRecordResult">
		select * from detection_data
	</select>
	
	<select id="queryDynRecordDao" parameterType="Map" resultMap="dynRecordResult">
		select * from detection_data 
		<where>
			<if test="tBedName!=null">
				and col002= #{tBedName}
			</if>
			<if test="wheelCode!=null">
				and col006 like concat('%',#{wheelCode},'%')
			</if>
			<if test="repairing!=null">
				and col007= #{repairing}
			</if>
			 <if test="startDate != null and startDate != ''">
			 	AND col010 <![CDATA[>=]]> #{startDate}
			 </if>
 			<if test="endDate != null and endDate != ''">AND col010 <![CDATA[<=]]>#{endDate}</if>
		</where>
		order by col010 ASC,id ASC
		limit 
                     #{firstPage}, 
                     #{rows};
	</select>
	
	<select id="queryDynRecordTotalDao" parameterType="Map" resultType="long">
		select count(id) from detection_data 
		<where>
			<if test="tBedName!=null">
				and col002= #{tBedName}
			</if>
			<if test="wheelCode!=null">
				and col006 like concat('%',#{wheelCode},'%')
			</if>
			<if test="repairing!=null">
				and col007= #{repairing}
			</if>
			 <if test="startDate != null and startDate != ''">
			 	AND col010 <![CDATA[>=]]> #{startDate}
			 </if>
 			<if test="endDate != null and endDate != ''">AND col010 <![CDATA[<=]]>#{endDate}</if>
		</where>
		
	</select>
	
</mapper> 