<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlri.chinacnr.bwts.dao.ScheduleJobDao">
	<resultMap type="com.dlri.chinacnr.bwts.entity.ScheduleJob" id="scheduleJobResult">
		<id property="jobId" column="job_id"/>
		<result property="jobName" column="job_name"/>
		<result property="jobGroup" column="job_group"/>
		<result property="serverPath" column="server_path"/>
		<result property="jobStatus" column="job_status"/>
		<result property="cronExpression" column="cron_expression"/>
		<result property="jobDesc" column="job_desc"/>
		<result property="ftpIp" column="ftp_ip"/>
		<result property="ftpPort" column="ftp_port"/>
		<result property="ftpName" column="ftp_name"/>
		<result property="ftpPassword" column="ftp_password"/>
	</resultMap>

	<select id="queryScheduleJobByCondition" parameterType="Map" resultMap="scheduleJobResult">
		select * from schedule_job d 
		<where>
			<if test="jobStatus!=null">
				and d.job_status  = #{jobStatus}
			</if>
			<if test="jobStatus2!=null">
				and d.job_status  <![CDATA[!= ]]> #{jobStatus2}
			</if>
			<if test="jobName!=null">
				and d.job_name like concat('%',#{jobName},'%')
			</if>
			
		</where>
		order by d.job_group ASC,job_id ASC;
	</select>
	<update id="updateScheduleJob" parameterType="ScheduleJob">
        update schedule_job set job_status=#{jobStatus},cron_expression=#{cronExpression},
        ftp_ip=#{ftpIp},ftp_port=#{ftpPort},ftp_name=#{ftpName},ftp_password=#{ftpPassword}
         where job_id=#{jobId}
    </update>


	
	
</mapper> 